.novodoc_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}
.novodoc_container h1{
    margin-bottom: 0.5em;
    padding: 25px, 25px, 25px, 25px;
}
.novodoc_container p{
    color:black;
}