.btn{
    
color: black;
text-align: center;
text-decoration: none;
border-radius: 8px;
vertical-align: middle;
padding: 15px 25px 0px 25px;
transition: .5s;
border: 2px solid rgba(0, 164, 147);

}
.btn:hover{
    background-color: rgba(0, 164, 147);
    color: whitesmoke;
}
.btn Link:hover{
    color: whitesmoke;
    text-decoration: none;
}
.btn Link{
    color: rgba(0, 164, 147);
    text-decoration: none;
}